@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body{
    background-image: url("./pictures/firewatchnight.png");
    background-color: rgb(34, 34, 192);
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.infoContainer{
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.searchInput{
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    background: #334b81;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locationContainer{
    display: flex;
}

select{
    background-color: #334b81;
    color: white;
    font-size: 38px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 2px 10px 2px 15px;
}

option{
    border-top: 1px solid black;
}

.dropdownContainer{
    margin-left: 25px;
}