@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body{
    background-image: url("./pictures/firewatchnight.png");
    background-color: rgb(34, 34, 192);
    color: white;
    font-family: 'Roboto Mono', monospace;

}

.container{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.infoContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.searchInput{
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    background: #334b81;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
}