@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body{
    background-image: url("./pictures/firewatchnight.png");
    background-color: rgb(34, 34, 192);
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.container{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.infoContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.searchInput{
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    background: #334b81;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdownContainer{
    display: flex;
    justify-content: center;
}

.listItems{
    list-style-type: none;
    border-top: 1px solid rgba(0, 0, 0, 0.199);
}

/* .dataContainer{
    display: flex;
    justify-content: center;
}

.dataResult{
    margin-top: 5px;
    width: 250px;
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    font-weight: bold;
}

.dataResult .dataItem{
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataItem p{
    margin-left: 10px;
}

a:hover{
    background-color: grey;
} */